@model RPPP_WebApp.Models.Akgod

<h2>Stvaranje nove akademske godine</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Razdoblje">Razdoblje</label>
        <input asp-for="Razdoblje" class="form-control" />
        <span asp-validation-for="Razdoblje" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Stvori</button>
    <a asp-action="Index" class="btn btn-secondary">Odustani</a>
</form>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}