@model RPPP_WebApp.Models.TematskoPodrucje

<h2>Stvaranje novog tematskog područja</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="TematskoPodrucje1">Naziv</label>
        <input asp-for="TematskoPodrucje1" class="form-control" />
        <span asp-validation-for="TematskoPodrucje1" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Stvori</button>
    <a asp-action="Index" class="btn btn-secondary">Odustani</a>
</form>
