@model RPPP_WebApp.Models.VrstaOdluke

<h2>Delete Vrsta Odluke</h2>

<h4>Jeste li sigurni da želite obirsati ovu stavku?</h4>

<div>
    <dl class="row">
        <dt class="col-sm-2">Naziv</dt>
        <dd class="col-sm-10">@Model.VrstaOdluke1</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IdVrstaOdluke" />
        <button type="submit" class="btn btn-danger">Obriši</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </form>
</div>
