<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">RPPP Homework - Group 08</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="karlaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Karla Šoštar
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="karlaDropdown">
                        <li><a class="dropdown-item" href="#">Status natjeèaja</a></li>
                        <li><a class="dropdown-item" href="#">Status prijave</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Natjeèaj za upis</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ivoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ivo Gabud
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="ivoDropdown">
                        <li><a class="dropdown-item" href="#">Dvorana</a></li>
                        <li><a class="dropdown-item" href="#">Predmet</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Raspored</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="donaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dona Weiner
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="donaDropdown">
                        <li><a class="dropdown-item" href="#">Tematsko podruèje</a></li>
                        <li><a class="dropdown-item" href="#">Vrsta odluke</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Završni rad</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reneDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rene Filipoviæ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="reneDropdown">
                        <li><a class="dropdown-item" href="#">Akademska godina</a></li>
                        <li><a class="dropdown-item" href="#">Vrsta sjednice</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Vijeæe</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="antonioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Antonio Radoš
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="antonioDropdown">
                        <li><a class="dropdown-item" href="#">Financijski modul</a></li>
                        <li><a class="dropdown-item" href="#">Status transakcije</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Osoba</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>